<div class="move_down">

<h2 class="move_up">Edit Your Profile</h2>

<%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
     <div class="form-group">
       <%= f.label :username, "Username:", class: "col-xs-4 control-label" %>
       <div class="col-xs-6">
         <%= f.text_field :username, class: "form-control" %>
       </div>
     </div>

     <div class="form-group">
       <%= f.label :password, "Password:", class: "col-xs-4 control-label" %>
       <div class="col-xs-6">
         <%= f.text_field :password, class: "form-control" %>
       </div>
     </div>

     <%= f.submit "Submit", class: "btn btn-default btn-primary pull-right move_left" %>
<% end %>

</div>
