<h2>Add New Book</h2>

<%= form_for @book do |f| %>
  <%= f.label "Title" %>
  <%= f.text_area :title %>

  <%= f.label "Author" %>
  <%= f.text_area :author %>

  <%= f.label "Date of Publication" %>
  <%= f.text_area :date_of_publication %>

  <%= f.label "Description" %>
  <%= f.text_area :description %>

  <%= f.label "Image URL"%>
  <%= f.text_area :image_url %>

  <%= f.submit %>
<% end %>
