<div class="col-xs-12">

  <div class="col-xs-2 pull-right">
    <p class="pull-right">
      <%= link_to("(edit book)", edit_book_path) if @current_user %>
    </p>
  </div>

  <div class="col-xs-10">
    <h2> <%= @book.title %></h2>
  </div>
</div>

<div class="row">

  <div class="col-xs-8 text-center">
    <table class="table table-hover">
      <tr>
        <td>
          <%= "#{@book.author}, #{@book.date_of_publication}" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= @book.description %>
        </td>
      </tr>
      <tr>
        <td>
          <h4 class="text-left">Adaptations</h4>
          <% @book.adaptations.each do |adaptation| %>
          <p class="text-left">
            <%= link_to adaptation.title, adaptation %>
          </p>
          <% end %>
          <p class="text-left">
            <%= link_to("(add new adaptation)", new_book_adaptation_path(@book)) if @current_user %>
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xs-4 pull-right">
    <p> <%= image_tag("me.jpg", class: "img-responsive", :alt => "it's a pic!")%> </p>
  </div>

</div>
