<p><%= link_to("(edit book)", edit_book_path) if @current_user %></p>

<h2> <%= @book.title %></h2>
<p> <%= "#{@book.author}, #{@book.date_of_publication}" %></p>
<!-- insert image here -->
<p> <%= @book.description %></p>

<!-- This goes to adaptation show -->
<h4>Adaptations</h4>
<ul>
  <% @book.adaptations.each do |adaptation| %>
  <li>
    <%= link_to adaptation.title, adaptation_path(adaptation) %>
  </li>
  <% end %>
</ul>
