<h2>Add New Adaptation</h2>

<%= form_for [@book, @adaptation] do |f| %>
  <%= f.label "Title" %>
  <%= f.text_area :title %>

  <%= f.hidden_field :book_id, :value => @book.id %>

  <%= f.label "Date of Release"%>
  <%= f.text_area :date_of_release%>

  <%= f.label "Comparison to book"%>
  <%= f.select :comparison_to_book, [["..why did they think this was a good idea"], ["it didn't do the book justice"], ["not good but not bad either"], ["it was good"], ["THIS...IS...AWESOME!!!!!"]] %>

  <%= f.label "Image URL"%>
  <%= f.text_area :image_url%>
  <%= f.submit %>
<% end %>
