<div class="move_down">
<h2>Add New Adaptation</h2>

<div class="row">
  <div class="col-xs-12">

<%= form_for [@book, @adaptation], :html => {:class => "form-horizontal center"} do |f| %>
<fieldset>
<!-- Since your forms are so similar, it wouldn't be a bad idea to put this form in a reusable partial view. -->
     <div class="form-group">
       <%= f.label :title, "Title:", class: "col-xs-4 control-label white-text" %>
       <div class="col-xs-6">
         <%= f.text_field :title, class: "form-control" %>
       </div>
     </div>

     <%= f.hidden_field :book_id, :value => @book.id %>
     <!-- If you're using nested routes, this isn't necessary. In your controller, use:

     @book = Book.find(params[:book_id])
     @book.adaptations.create(adaptation_params)

     It'll figure out the book ID for you, and is much more secure than relying on something in your HTML which any user could change using "inspect element"-->

     <div class="form-group">
       <%= f.label :date_of_release, "Date of Publication:", class: "col-xs-4 control-label white-text" %>
       <div class="col-xs-6">
         <%= f.text_field :date_of_release, class: "form-control" %>
         <!-- Take a look at Rails' date fields for forms -->
       </div>
     </div>

     <div class="form-group">
       <%= f.label :comparison_to_book, "Comparison to Book:", class: "col-xs-4 control-label white-text" %>
       <div class="col-xs-6">
           <%= f.select :comparison_to_book, [["..why did they think this was a good idea"], ["it didn't do the book justice"], ["not good but not bad either"], ["it was good"], ["THIS...IS...AWESOME!!!!!"]], class: "form-control" %>
       </div>
     </div>

     <div class="form-group">
       <%= f.label :image_url, "Image URL:", class: "col-xs-4 control-label white-text" %>
       <div class="col-xs-6">
         <%= f.text_field :image_url, class: "form-control" %>
       </div>
     </div>

     <div class="form-actions">
     <%= f.submit "Submit", class: "btn btn-default btn-primary pull-right move_left" %>
   </div>
 </fieldset>
 <% end %>
</div>
</div>
