<div class="move_down">

<div class="col-xs-12 move_up">

  <div class="col-xs-4 pull-right">

  </div>

  <div class="col-xs-12">
    <h2> <%= @adaptation.title %>
      <p class="inline small white-text">
        <%= "(#{@adaptation.date_of_release})"%>
      </p>
      <p class="inline small yellow-text">
            <%= link_to("(edit adaptation)", edit_adaptation_path) if @current_user %>
          </p>
    </h2>
  </div>
</div>

<div class="row">

  <div class="col-xs-8 text-center move_down_more">
    <table class="table">
      <tr>
        <td>
          <p class="move_down_more white-text"> Comparison to Book:
            <%= @adaptation.comparison_to_book%>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="move_down_more white-text"> Adapted from:
            <%= link_to @adaptation.book.title, book_path(@adaptation.book_id)%>
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xs-4 pull-right">
    <p><%= image_tag(@adaptation.image_url, class: "img-responsive shape", :alt => "it's a pic!")%></p>
  </div>

</div>
</div>
