<p><%= link_to("(edit adaptation)", edit_adaptation_path) if @current_user %></p>

<h2> <%= @adaptation.title %> </h2>
<!-- insert image here -->
<p> <%= @adaptation.date_of_release%></p>
<p> Comparison to Book: <%= @adaptation.comparison_to_book%></p>

<p> Adapted from: <%= link_to @adaptation.book.title, book_path(@adaptation.book_id)%></p>
