<!DOCTYPE html>
<html>
<head>
  <title>Book2adapt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Book2Adapt</h1>
<nav>
  <%= link_to "Books", books_path %> <%= link_to "Adaptations", adaptations_path %>

  <% if @current_user %>
         <%= link_to "Welcome, #{@current_user.username}!", user_path(@current_user) %>
         <%= link_to "Sign Out", session_path, method: :delete %>
       <% else %>
         <%= link_to "Sign Up", new_user_path %>
         <%= link_to "Sign In", new_session_path %>
       <% end %>

 <%= link_to "Users", users_path %>
</nav>

<%= yield %>

<p> Made by Toni Langley
<a href=#>portfolio</a>
<a href=#>linked in pic</a></p>
<p> This project's repo: <a href=#>Github Pic</a></p>

</body>
</html>
