<!DOCTYPE html>
<html>

  <head>
    <title>Book2Adapt</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "Book2Adapt", root_path %></h1>
      </div>

      <div class="col-xs-6">
        <nav class="navbar navbar-default centered-pills" role="navigation">
          <ul class="nav nav-pills" role="tablist">
            <li class="highlight">
              <%= link_to "Books", books_path %>
            </li>
            <li class="highlight">
              <%= link_to "Adaptations", adaptations_path %>
            </li>
          </ul>
          <ul class="nav nav-pills">
            <% if @current_user %>
            <li class="no-uppercase">
              <%= link_to "Welcome, #{@current_user.username}!", user_path(@current_user) %>
            </li>
            <li>
              <%= link_to "Sign Out", session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "Sign Up", new_user_path %>
            </li>
            <li>
              <%= link_to "Sign In", new_session_path %>
            </li>
            <% end %>

        </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <% flash.each do |type, message| %>
        <h4 class="<%= type %>"> <%= message %> </h4>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>
    <div class="row row-centered">
      <div class="col-xs-8 footer  col-centered">
        <footer>
          <p>

            <a href="https://www.linkedin.com/in/tlangley"><%= image_tag("http://i.imgur.com/cCfmpGg.png", class: "img", :alt => "LinkedIn Logo")%></a>

             Made by <a href="https://chibiania.github.io/"> Toni Langley</a>

            <a href="https://github.com/Chibiania/project2"><%= image_tag("http://i.imgur.com/sfYYsCc.png", class: "img", :alt => "Github logo")%></a></p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
